body {
    background: linear-gradient(#243364 0%, white 100%);
    min-height: 100vh;
    margin: 0;
    color: white;
}

.skew-btn {
    background: #0063cc;
    color: white;
    text-decoration: none;
    border: none;
    padding: 15px 60px;
    cursor: pointer;
    display: block;
    margin: 60px auto 0;
    text-align: center;
    clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
    width: 10%;
}

main {
    max-width: 900px;
    margin: 80px auto 40px;
    padding: 0 20px;
}

.cta404 {
    display: flex;
    align-items: center;

    gap: 40px;
}

h1 {
    margin: 0;
    font-family: "Titillium-Web";
    font-weight: bold;
    font-size: 270px;
    color: white;
}



h2 {
    color: black;
    font-weight: 700;
    font-size: 28px;
    margin: 0 0 10px;
}

p {
    color: black;
    margin: 0;
    line-height: 1.4;
}

.imagencap { 
    height: auto;
    display: block;
    align-items: center;
}