body {
  background-image: url(/imagenes/about/About.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(2, 8, 48, 0.92);
  font-family: "titillium-web", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}

.heroText {
  max-width: 50%;
}

.columna {
  padding-left: 30px;
  padding-right: 30px;
  flex: 1;
  width: 50%;
}

section {
  display: flex;
  margin-top: 50px;
  gap: 50px;
}