body{
background-image: url(/imagenes/characters/background.png);
background-repeat: repeat-x;
background-size: cover;
}

.characters{
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 100px;
  margin-left: 100px;
}

.item {
  width: 230px;
  text-align: center;
  perspective: 1000px;
}

.item-inner {
  position: relative;
  width: 220px;
  height: 220px;
  margin: 0 auto 10px;
  transform-style: preserve-3d;
  transition: transform 0.6s ease-out;
}

.item:hover .item-inner {
  transform: rotateY(180deg);
}

.frente,
.dorso {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  backface-visibility: hidden;
}

.dorso {
  transform: rotateY(180deg);
}