body {
    height: 1024px;
    background: linear-gradient(#960100 0%, #4b0100 100%);
    color: white;
}

.skew-boton{
    background: #0063cc;
    color: white;
    text-decoration: none;
    border: none;
    padding: 15px 60px;
    cursor: pointer;
    display: block;
    margin: 60px auto 0; 
    text-align: center;
    font-weight: 600;
    clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%)
}

.titulo{
    display: block;
    text-align: center;
    margin-top: 10px;
}

#message{
    height: 100px;
    text-align: justify;
}

.campo{
 display: block;
 margin-left: auto;
 margin-right: auto;
}

fieldset{
    text-align: center;
    border: 0;
}

legend{
    font-weight: 700;
    font-size: x-large;
}

h1{
    text-align: center;
}

.mailto{
    color: white;
    margin-left: 40px;
    font-size: small;
}