body {
  background-color: white;
  font-family: "titillium-web", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}


a {
  text-decoration: none;
  color: black;
  font-size: larger;
}


nav {
  position: sticky;
  background-color: white;
  height: 50px;
  display: flex;
  align-items: center;
  font-family: "titillium-web", sans-serif;
  font-weight: 600;
  font-style: normal;
  width: 100%;
}

.wrapper {
  position: relative;
  display: flex;
  min-width: 100px;
  gap: 10px;
  padding-left: 60px;
}


nav a {
  margin-left: 30px;
  margin-block: 30px;
}

.hoverabout {
  position: relative;
  display: inline-block;
}

.hoverabout::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: black;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease-out;
}

.hoverabout:hover::after {
  transform: scaleX(1);
}

footer {
  margin-left: 40px;
}
