.hero {
    background-size: cover;
    min-height: 100vh;
    width: 100vw;
    background-image: url("/imagenes/inicio/hero.png");
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.logoHero {
    position: relative;
    top: 100px;
    left: 20px;
}


.buttonHome {
    position: relative;
    top: 90px;
    left: 100px;
}

footer {
    color: black;
    text-align: center;
    padding: 20px;
}

.skew-boton {
    background: red;
    color: white;
    text-decoration: none;
    border: none;
    padding: 20px 60px;
    cursor: pointer;
    display: block;
    margin: 100px;
    text-align: center;
    font-weight: 600;
    clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
    transition: transform 0.3s ease;
}

.skew-boton:hover {
    transform: scale(1.1);
}
