.hero{
  position: relative;
  min-height: 450px;
  /* padding: 60px 80px; */
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
}

#jessicaKicking {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  max-height: 120%;
  height: auto;
  z-index: -1;
}

body {
  margin: 0;
  background: linear-gradient(to bottom, #3700B4, #A700FF);
  color: white;
}


.comics {
  background-color: black;
  color: white;
  padding-left: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.comicArticulo{
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

.covers{
  display: flex;
}

.textos1{
max-width: 270px;
gap: 20px;
}

.titulo {
  position: absolute;
  top: 70px;
  left: 40%;
  transform: translateX(-50%);
  max-width: 45%;
  height: auto;
  margin: 0;
}

#texto-hero{
  max-width: 320px;
  line-height: 1.5;
  padding-right: 50px;
}

.s2 {
  margin-left: 0px;
  column-count: 1;
}

h1#beLike {
  margin-left: 20px
}

.iframeYt{
  padding: 40px;
}

.covers{
  gap: 20px;
}

.multimedia{
  display: flex;
  align-items: flex-start;
  padding-left: 40px;

}

.skew-boton {
  display: inline-block;        
  transition: transform 0.3s ease;
}

.skew-boton:hover {
  transform: scale(1.1);
}
