body {
  background-image: url(/imagenes/seasons/background_seasons.png);
  background-color: white;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;
}


section {
  margin-top: 0px;
  max-width: 1440px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}


article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

section img {
  width: 100%;
  max-width: 350px;
  height: auto;
}

.margen1 {
  margin: 20px;
  padding: 40px;

}

.cta{
  margin-top: auto;
  display: block;
  width: auto;
  max-width: none;
}

.skew-boton {
    background: red;
    color: white;
    text-decoration: none;
    border: none;
    padding: 15px 60px;
    cursor: pointer;
    display: block;
    margin: 100px;
    text-align: center;
    font-weight: 600;
    clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%)
}
