body {
    background-image: url(/imagenes/thankyou/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    text-align: center;
}

h1 {
    text-align: center;
    font-family: "Titillium-web";
    font-weight: bold;
    font-size: 120px;
    margin: 0;
}

h2 {
    font-size: 50px;
    margin: 0;
}

.skew-boton {
    background: red;
    color: white;
    text-decoration: none;
    border: none;
    padding: 15px 60px;
    cursor: pointer;
    display: block;
    margin: 60px auto 0;
    text-align: center;
    font-weight: 600;
    clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%)
}